.App-header {
  background-color: #54ad31;
  text-align: center;
  padding: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
}

.App-header-logo {
  display: flex;
  justify-content: center;
}

.App-logo {
  max-width: 30vw;
  max-height: 30vh;
  border-radius: 10rem;
}

.App-header-title {
  padding-left: 2rem;
  margin-top: 3rem;
}

.App-header-title h1 {
  font-size: 3rem;
}

.App-header-title h2 {
  color: #1b1b1b;
  font-size: 2rem;
}

